{% load utils %}
    <div class="page-top-band">
      <div class="col-xs-12 text-right">
        {% if user.is_client %}
          <div class="btn-group">
            <a href="{% url base_url_name %}" data-name="ownership" data-value="" class="{% if ownership == '' %}active{% endif %} fake-filter-btn btn-sm btn btn-default">All ({{ total_projects }})</a>
            <a href="{% url base_url_name %}?ownership=mine" data-name="ownership" data-value="mine" class="{% if ownership == 'mine' %}active{% endif %} fake-filter-btn btn-sm btn btn-default">Mine ({{ own_projects }})</a>
          </div>
        {% endif %}
      </div>
    </div>
    <br/>
 <div class="panel panel-default panel-pipeline">
  <div class="panel-body">
    {% for name, secondary_name, project_count, people_count, filter in pipeline %}
      {% is_filter_enabled filter as filter_active %}
      <a href="{% url base_url_name %}?{{ filter.0}}={{filter.1}}" class="col-xs-6 col-sm-3 {{ name }} pipeline-item no-underline {% if filter_active %}active{% endif %} fake-filter-btn" data-name="{{ filter.0 }}" data-value="{{ filter.1 }}">
        <h4 class="value">{{ project_count }} </h4>
        <div class="text-muted">
          {{ name|upper }}
        </div>
        {% if not forloop.last %}
          <i class="fa fa-caret-right"></i>
        {% endif %}
        <hr class="thin"/>
        {% if people_count != None %}
          <small class="people-count text-muted"><i class="fa fa-user"></i> &nbsp;{{ people_count }} {{ secondary_name }}</small>
        {% else %}
          <small class="people-count text-muted">&nbsp;</small>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
