{% extends 'base_template.html' %}
{% load bootstrap3 %}
{% load humanize %}
{% load thumbnail %}
{% block title %}Request: {{ rfp.question }}{% endblock %}

{% block page %}
<div id="page" class="container-fluid page-full">
    <div id="react-data-json">
    </div>
    <div id="react-data-html">
    </div>
    <div id="rfps-app" class="row">
        <div data-reactid=".2">
            <div class="container page" data-reactid=".2.0">
                <div data-reactid=".2.0.0">
                    <ol class="breadcrumb custom" data-reactid=".2.0.0.0">
                        <li data-reactid=".2.0.0.0.0">
                            <a href="{% url "bid_list" user.username %}" data-reactid=".2.0.0.0.0.0">Requests</a>
                        </li>
                        <li class="active" data-reactid=".2.0.0.0.1">{{ rfp.question }}</li>
                    </ol>
                </div>
                <div data-reactid=".2.0.1">
                    <div class="col-sm-12" data-reactid=".2.0.1.0">
                        <div class="panel rfp-card panel-default" data-reactid=".2.0.1.0.0">
                            <div class="clearfix section-upper" data-reactid=".2.0.1.0.0.0">
                                <div class="col-xs-10 header" data-reactid=".2.0.1.0.0.0.0">
                                    <div class="project-title project-status-success" data-reactid=".2.0.1.0.0.0.0.0">
                                        <h4 data-reactid=".2.0.1.0.0.0.0.0.0">
                                            <a class="rfp-title" href="{% url "rfp_view" rfp.client.username rfp.uuid %}" data-reactid=".2.0.1.0.0.0.2.1">
                                                <span data-reactid=".2.0.1.0.0.0.0.0.0.0.1">{{ rfp.question }}</span>
                                            </a>
                                        </h4>
                                        <div class="subtitle" data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1">
                                            <span data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1.0">
                                                <span class="text-muted" data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1.0.0">created on </span>
                                                <span data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1.0.1">{{ rfp.date_created }}</span>
                                            </span>
                                        </div>
                                        <div class="subtitle" data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1">
                                            <span data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1.0">
                                                <span class="text-muted" data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1.0.0">created by </span>
                                                <span data-reactid=".2.0.3.1:$rfp-4.0.0.0.0.1.0.1">{{ rfp.client.get_full_name }}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 header text-right actions-menu" data-reactid=".2.0.1.0.0.0.1">
                                    <div class="anchor trigger" data-reactid=".2.0.1.0.0.0.1.$rfp-12false">
                                        <div data-drop-role="trigger" data-reactid=".2.0.1.0.0.0.1.$rfp-12false.0" class="drop-theme-basic drop-hero drop-target">
                                            <span class="caret text-muted" data-reactid=".2.0.1.0.0.0.1.$rfp-12false.0.0">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="meta-row" data-reactid=".2.0.1.0.0.0.2">
                                    <hr class="thin" data-reactid=".2.0.1.0.0.0.2.0">
                                    <a class="pull-right btn btn-sm btn-secondary" href="{% url "rfp_edit" rfp.client.username rfp.uuid %}" data-reactid=".2.0.1.0.0.0.2.1">
                                        <small data-reactid=".2.0.1.0.0.0.2.1.0">
                                            <span data-reactid=".2.0.1.0.0.0.2.1.0.3">Edit Request</span>
                                        </small>
                                    </a>
                                    <small data-reactid=".2.0.3.1:$rfp-4.0.0.2.2">
                                        <span class="text-muted" data-reactid=".2.0.3.1:$rfp-4.0.0.2.2.0">
                                            <span data-reactid=".2.0.3.1:$rfp-4.0.0.2.2.0.0">sent to</span>
                                            <span data-reactid=".2.0.3.1:$rfp-4.0.0.2.2.0.1">{{ rfp.vendors.count }} vendors</span>
                                        </span>
                                        <span data-reactid=".2.0.3.1:$rfp-4.0.0.2.2.1"></span>
                                    </small>
                                </div>
                                <div class="col-xs-12" data-reactid=".2.0.3.1:$rfp-4.0.0.3">
                                    <hr data-reactid=".2.0.3.1:$rfp-4.0.0.3.0">
                                    <form method="POST" class="pull-right">
                                        {% csrf_token %}
                                        <ul class="list-inline">
                                            {{ notif_form.as_ul }}
                                        </ul>
                                        <button name="notif" class="btn btn-xs btn-primary" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.1.1">Update Settings</button>
                                    </form>
                                    <span class="label label-primary" data-reactid=".2.0.3.1:$rfp-4.0.0.3.1.0">{{ rfp.messages.count }}</span>
                                    <small class="text-muted" data-reactid=".2.0.3.1:$rfp-4.0.0.3.1.1">
                                        <span data-reactid=".2.0.3.1:$rfp-4.0.0.3.1.1.0">&nbsp;&nbsp;</span>
                                        <span data-reactid=".2.0.3.1:$rfp-4.0.0.3.1.1.1">messages</span>
                                    </small>
                                </div>
                                <div class="clearfix vertical-spacer-lg" data-reactid=".2.0.1.0.0.0.4">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" data-reactid=".2.0.1.1">
                        <div class="panel rfp-shares-box" data-reactid=".2.0.1.1.0">
                            <div class="panel-body" data-reactid=".2.0.1.1.0.0">
                                <div class="col-xs-4 nopadding left-container" data-reactid=".2.0.1.1.0.0.0">
                                    {% for other in rfp.bids.all %}
                                    <a href="{% url "rfp_view" user.username rfp.uuid other.uuid %}">
                                        <div class="rfp-share-item clearfix {% if other == bid %}active{% endif %}" data-reactid=".2.0.1.1.0.0.0.$16">
                                            <div class="col-sm-3 nopadding hidden-xs" data-reactid=".2.0.1.1.0.0.0.$16.0">
                                                <div class="logo-container" data-reactid=".2.0.1.1.0.0.0.$16.0.0">
                                                    {% thumbnail other.vendor.logo "150x40" as thumb %}
                                                      <img src="{{ thumb.url }}">
                                                    {% empty %}
                                                      <img src="{{ STATIC_URL }}images/defaults/placeholder-co.png">
                                                    {% endthumbnail %}
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-12 nopadding" data-reactid=".2.0.1.1.0.0.0.$16.1">
                                                <div class="vendor-title" data-reactid=".2.0.1.1.0.0.0.$16.1.0">{{ other.vendor }} ({{ other.vendor.proven_score|floatformat:0 }}%)</div>
                                                <div>#{{ other.get_rank }}: {% if other.bid %}${{ other.bid|intcomma }}{% else %}<em>No bid yet</em>{% endif %}{% if other.winner %}<i class="fa fa-star"></i>{% endif %}</div>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                                <div class="nopadding right-container col-xs-8" data-reactid=".2.0.1.1.0.0.1">
                                    <span data-reactid=".2.0.1.1.0.0.1.$conversation-16">
                                        {% if bid %}
                                        <div class="header" data-reactid=".2.0.1.1.0.0.1.$conversation-16.0">
                                            <strong data-reactid=".2.0.1.1.0.0.1.$conversation-16.0.0">
                                                <a href="{{ bid.vendor.get_absolute_url }}" data-reactid=".2.0.1.1.0.0.1.$conversation-16.0.0.0">{{ bid.vendor }}</a>
                                                (Proven Score: {{ bid.vendor.proven_score|floatformat:0 }}%)
                                            </strong>
                                        </div>
                                        <div class="clearfix" data-reactid=".2.0.1.1.0.0.1.$conversation-16.1">
                                        </div>
                                        <div class="main-content" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2">
                                            <div class="answer-list" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0">
                                                <div data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0">
                                                    <div class="answer" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15">
                                                        <span class="pull-right anchor" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15.0">
                                                            <div class="anchor trigger" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15.0.$answer-15-null">
                                                                <div data-drop-role="trigger" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15.0.$answer-15-null.0" class="drop-theme-basic drop-hero drop-target">
                                                                    <span class="anchor text-primary" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15.0.$answer-15-null.0.0">#{{ bid.get_rank }} of {{ bid.rfp.bids.count }}</span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                        <div class="question-title" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15.1">
                                                            <span data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.0:0.$15.1.0">Bid: {% if bid.bid %}${{ bid.bid|intcomma }}{% else %}<em>No bid yet</em>{% endif %}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="footer clearfix" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.1">
                                                    {% if not bid.winner and bid.rfp.has_winner %}
                                                    <strong class="small" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.1.3">
                                                        Not selected as winner.
                                                    </strong>
                                                    {% else %}
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="rfp_bid" value="{{ bid.uuid }}" />
                                                        {% if not bid.winner %}
                                                        <button name="winner" class="btn btn-xs btn-primary" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.1.1">Select Winner</button>
                                                        {% else %}
                                                        <strong class="small" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.1.3">
                                                            <i class="fa fa-star" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.0.1.3.0"> </i>
                                                            Winner
                                                        </strong>
                                                        <button class="btn btn-xs btn-warning" name="winner">Undo</button>
                                                        {% endif %}
                                                    </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="vertical-spacer-lg" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.1">
                                            </div>
                                            {% for message in bid.messages.all %}
                                            <div class="media comment" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16">
                                                <div class="media-left pull-left" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.0">
                                                    <div class="avatar-wrapper" title="Konrad Iber" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.0.0">
                                                        <span class="initials avatar-35" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.0.0.0">
                                                        {% if message.sender %}
                                                        {% include 'partials/avatar_initials.html' with object=message.sender size=25 %}
                                                        {% endif %}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-body" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.1">
                                                    <h5 class="media-heading" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.1.0">
                                                        <span data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.1.0.0">{{ message.sender.get_full_name }}</span>
                                                        <small class="pull-right timestamp hidden-xs" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.1.0.1">{{ message.date_created }}</small>
                                                    </h5>
                                                    <span data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.2:$16.1.1">{{ message.message }}</span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="vertical-spacer-lg" data-reactid=".2.0.1.1.0.0.1.$conversation-16.2.3">
                                            </div>
                                        </div>
                                        <div class="message-box" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3">
                                            <form method="POST" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0" lpformnum="1">
                                                {% csrf_token %}
                                                <div class="col-xs-8 nopadding" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.0">
                                                    {{ form.message }}
                                                </div>
                                                <div class="col-xs-4" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.1">
                                                    <input type="hidden" name="rfp_bid" value="{{ bid.uuid }}" />
                                                    <button class="btn btn-sm btn-primary btn-block" type="submit" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.1.0">
                                                        <i class="fa fa-send" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.1.0.0">
                                                        </i>
                                                        <span data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.1.0.1">&nbsp; send</span>
                                                    </button>
                                                </div>
                                            </form>
                                            {% if bid.vendor.phone %}
                                            <div class="col-xs-8" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.1">
                                                <input class="pull-right text-right" value="{{ bid.vendor.phone }}" />
                                            </div>
                                            <div class="col-xs-4" data-reactid=".2.0.1.1.0.0.1.$conversation-16.3.0.1">
                                                <a class="btn btn-sm btn-success btn-block" type="submit" href="tel:{{ bid.vendor.phone }}" data-reactid=".2.0.1.0.0.0.2.1">
                                                    <i class="fa fa-phone" data-reactid=".2.0.1.0.0.0.2.1.0.0"></i>
                                                    Call Vendor
                                                </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
