{% pjaxr_extends "base_template.html" "Site" %}
{% load crispy_forms_tags %}
{% block title %} Note - {{ current_tenant }}{% endblock %}
{% block page_title %}<span id="page-title">Note List</span>{% endblock %}

{% block left_nav_button %}
  <span id="left-nav-btn" class="pull-left">
    {% if previous_page %}
      <a class="navbar-brand btn" href="{{ previous_page }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
      <a class="navbar-brand btn" href="{{ related_content_object.get_absolute_url }}" data-target="sidebar-left"><i class="fa fa-chevron-left"></i></a>
    {% endif %}
  </span>
{% endblock %}

{% block right_nav_button %}
  <span id="right-nav-btn" class="pull-right"></span>
{% endblock %}

{% block right_sidebar %}
  <div id="sidebar-right" class="sidebar sidebar-right"></div>
{% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block page %}
  <div id="page" class="container page">
    {% block content %}
      <div class="page-top-band">
        <div class="col-xs-12">
            <h6>All note on {{ related_content_type }}: {{ related_content_object }}</h6>
        </div>
      </div>
    <div class="panel panel-default">
      <div class="panel-body">
      {% for note in notes %}
        {% include 'notes/card.html' with note=note show_details=False %}
      {% endfor %}
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock %}
{% block pjaxr_namespace %}Site.notes.list{% endblock pjaxr_namespace %}
