{% load utils %}
  {% if user.is_client %}
    <!--div class="page-top-band">
      <div class="col-xs-12 text-right">
        <div class="btn-group">
          <a href="{% url 'users:list' %}" data-key="ownership" data-value="" class="{% if ownership == '' %}active{% endif %} project-filter-btn btn-sm btn btn-default">All ({{ total_projects }})</a>
          <a href="{% url 'staffing:list' %}?ownership=mine" data-key="ownership" data-value="mine" class="{% if ownership == 'mine' %}active{% endif %} project-filter-btn btn-sm btn btn-default">Mine ({{ own_projects }})</a>
        </div>
      </div>
    </div>
    <br/-->
  {% endif %}
 <div class="panel panel-default panel-pipeline availability-pipeline">
  <div class="panel-body">
    {% for name, secondary_name, people_count, filter, css_class in pipeline %}
      {% is_filter_enabled filter as filter_active %}
      <a href="{% url 'users:list' %}?{{ filter.0}}={{filter.1}}" class="availability-filter-btn col-xs-6 col-sm-3 {{ css_class }} pipeline-item no-underline {% if filter_active %}active{% endif %} fake-filter-btn" data-name="{{ filter.0 }}" data-value="{{ filter.1 }}">
        <h4 class="value">{{ people_count }} </h4>
        <div class="text-muted">
          {{ name|upper }}
        </div>
        {% if not forloop.last %}
          <i class="fa fa-caret-right"></i>
        {% endif %}
        <hr class="thin"/>
        {% if secondary_name %}
          <small class="text-muted">&nbsp;{{ secondary_name }}</small>
        {% else %}
          <small class="text-muted">&nbsp;</small>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
