{% pjaxr_extends "onboarding/base.html" "Site.onboarding" %}
{% load avatar_tags %}
{% load socialaccount %}

{% block title %} Change password{% endblock %}


{% block content %}

  <div class="panel panel-default panel-card profile-edit-panel">
    <div class="panel-body">
        
        <div class="btn-group btn-group-justified material-tab">
          <a href="{% url 'users:edit_profile' object.username %}" class="btn-link btn ">Edit profile</a>
          <a href="" class="btn-link btn active">Change password</a>
        </div>
        <br>
        <div class="profile-block-top profile-banner text-center">
          {% include 'partials/avatar_initials.html' with object=object size=75 %}
          <form id="avatar_form" method="POST" action="{% url 'users:upload_avatar' object.id %}" class="hide" enctype="multipart/form-data">
            {% csrf_token %}
            {{ avatar_form.as_p }}
          <input type="submit" value="go"/>
          </form>

          <h4 class="user-full-name">{{ object.get_name_display }}</h4>
          <h6 class="username-wrap">@<span class="username">{{ object.username }}</span></h6>
        </div>

        <h6 class="sub-section-title">
          <span class="text-uppercase">Change password</span>
        </h6>

        <form  id="onboarding-user-password-form" class="form-mobile form-horizontal" role="form" action="{% url 'users:password_reset' %}" method="POST">

          {% csrf_token %}
          {% include 'forms/naked_form.html' with form=form %}
          <div class="text-right col-xs-12">
            <button type="submit" class="btn btn-primary">
              &nbsp;&nbsp;Save&nbsp;&nbsp;
            </button>
          </div>
          <br><br>
        </form>    

    </div>
  </div>
  
{% endblock %}
{% block pjaxr_namespace %}Site.onboarding.profile{% endblock pjaxr_namespace %}
