{% load projects %}
{% load avatar_tags %}
{% load activity %}
{% with staffing_request.proposed_staff.count as proposed_staff %}

<div id="request-{{ staffing_request.id }}" class="request-item result-item panel panel-default panel-hint panel-{{ staffing_request.get_status_css_class }} {% if show_details %}unread-event{% endif %}" {% if show_details %}data-unread-event-url="{% url 'activity:event_update' content_id=staffing_content_id object_id=staffing_request.id %}" {% endif %} data-pk="{{ staffing_request.id }}" data-kind="staffing-request" data-title="{{ staffing_request.text_title }}">
  <div class="panel-body row text-left request-{{staffing_request.id}} {{ extra_css_classes }}">

    <div class="col-sm-10  col-xs-8 no-underline nopadding no-link-style">
      <h4>
        {% with staffing_request.html_title as title %}
          {% if title %}
            <a class="no-link-style no-underline" href="{{ staffing_request.get_absolute_url }}">{{ title }}</a>
          {% endif %}
        {% endwith %}
      </h4>
    </div>
    <h5 class="col-sm-2 col-xs-4  text-right">
    {% if unread_events %}
      {% has_unread_events staffing_request unread_events as events %}
        {% if not show_details and events %}
          <a href="{{ staffing_request.get_absolute_url }}" title="new activity" class="no-underline text-primary fa fa-circle activity-counter"></a>&nbsp;
        {% endif %}
    {% endif %}
      <span class="staffing-request-id" title="Job ID">SR{{staffing_request.id}}</span>
      {% if user.is_client %}
        <span class="disabled text-muted">&nbsp;|&nbsp;</span>
        <span class="dropdown">
          <span class="dropdown-toggle anchor" type="button" id="request-dropdownMenu" data-toggle="dropdown" aria-expanded="true">
            <i class="text-muted fa fa-chevron-down small"></i>
          </span>
          <ul class="dropdown-menu dropdown-menu-right text-left anchor" role="menu" aria-labelledby="request-dropdownMenu">
              <li role="presentation"><a role="menuitem" tabindex="-1" class="no-underline btn-card-action" href="{{ staffing_request.get_edit_url }}">edit</a></li>
              {% if not show_details %}
                {% if staffing_request.is_archived %}
                  <li><a href="#request-{{ staffing_request.id }}" class="btn-unarchive-request">unarchive</a></li>
                {% else %}
                  <li><a href="#request-{{ staffing_request.id }}" class="btn-archive-request">archive</a></li>
                {% endif %}
              {% endif %}
          </ul>
        </span>
      {% endif %}
    </h5>
    {% if show_details and staffing_request.description %}
      <div class="col-xs-12 tags-left">
        <p  class="small">{{ staffing_request.description }}</p>
      </div>
    {% endif %}
    <div class="col-xs-12 nopadding">
      <div class="col-sm-6 tags-left">
        <span class="btn btn-{{ staffing_request.get_status_css_class }} btn-o btn-xs btn disabled " title="Number of people staffed/required">
        <strong>{{ staffing_request.staffed_count }}</strong> of <strong>{{ staffing_request.num_resources }}</strong> staffed</span>&nbsp;
        {% if staffing_request.location %}
          <span class="btn btn-secondary btn-o btn-xs disabled"><i class="fa fa-map-marker"></i> {{ staffing_request.location }}</span> &nbsp;
        {% endif %}
        {% for category in staffing_request.categories.all %}
          <span class="btn btn-secondary btn-o btn-xs disabled">{{ category }}</span><span class="spacer"></span>&nbsp;
        {% endfor %}
      </div>
      <div class="vertical-spacer-sm visible-xs"></div>
      <div class="col-sm-6 text-right">
        {% if user.is_client%}

          {% if perms.projects.add_proposedresource %}
            {% if staffing_request.proposed.count != 0 %}
            <div class="btn-group">
              <a class="btn btn-xs btn-o btn-default" href="{{ staffing_request.get_absolute_url }}" >
                {{ staffing_request.proposed.count }} proposed
              </a>
              <button type="button" class="btn btn-xs btn-o btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right text-left" role="menu">
                <li class="small">
                  <a href="{% url 'staffing:requests:add_user_request' staffing_request.id %}">view available people</a>
                </li>
              </ul>
            </div>
            {% else %}
              <a href="{% url 'staffing:requests:add_user_request' staffing_request.id %}" class="btn btn-xs btn-o btn-default">view available people</a>
            {% endif %}
            &nbsp;&nbsp;

          {% endif %}

          {% if staffing_request.vendors.count != 0 %}
            {% include 'requests/partials/acl_button.html' %}
          {% else %}
            <a href="{% url 'staffing:requests:add_vendor_request' staffing_request.id %}"  class="btn btn-xs btn-o btn-default">invite supplier(s)</a>
          {% endif %}

        {% elif show_details and show_confirm_box %}
            {% include 'requests/partials/vendor_confirm_button.html' %}
        {% endif %}
      </div>
    </div>
    <div class='h5 col-sm-12 text-right'>
      <span class='text-muted small'>Created by {{ staffing_request.created_by}} on {{ staffing_request.created|date:"M d, Y"}}</span> 
      {% if staffing_request.last_activity %}<span class='text-muted small'>&nbsp;|&nbsp; Last activity by {{ staffing_request.last_activity }} on {{ staffing_request.modified|date:"M d, Y" }}</span>{% endif %}
    </div>
  </div>
</div>

{% endwith %}
