{% extends 'onboarding/base.html' %}
{% load bootstrap3 %}
{% block onboarding_content %}
{% include "onboarding/partials/steps.html" %}
<div class="container-820px">
  <div class="col-xs-12">
    <div class="alert alert-complex alert-warning alert-dismissable text-center">
      <strong class="alert-name">TIP</strong>
      <span class="alert-text">Add in your educational background. Clients may search for you by alma mater connections.</span>
      <a class="fa fa-remove alert-link alert-dismiss" data-dismiss="alert" aria-hidden="true"></a>
    </div>
    <div class="horizontal-separator">&nbsp;</div>
    <div class="panel panel-default profile-panel">
      <div class="panel-body">
        <div id="schoolsContainer">
        <ul class="list-unstyled timeline" id="schools" data-form-container="#schoolFormContainer">
          {% if user.educations.all %}
            {% for education in user.educations.all %}
            {% include 'consultant/profile/school.html' %}
            {% endfor %}
          {% else %}
            <div data-type="placeholder" class="text-center">
              <a href="{% url 'schools' %}" class="edit-trigger text-underline" data-editable="ul#schools" data-hide="#schoolsContainer, #btn-new-school" data-form-container="#schoolFormContainer">click here</a> to add an education to your profile
            </div>
          {% endif%}
        </ul>
        </div>
        <div id="schoolFormContainer"></div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row container-820px">
  <div class="col-sm-2 col-xs-12">
  </div>
  <div class="col-sm-8 col-xs-12 text-center">
    <a href="{% url 'schools' %}" id="btn-new-school" class="btn btn-primary edit-trigger" data-editable="ul#schools" data-hide="#schoolsContainer, #btn-new-school" data-form-container="#schoolFormContainer">add new education</a>
  </div>
  <div class="col-sm-2 col-xs-12 text-center">
    <form class="form" method="POST" action="{% url 'setup_step_education' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-naked btn-underline btn-next-step"><strong>next step </strong> <i class="fa fa-long-arrow-right"></i></button>
    </form>
  </div>
</div>

</div>
{% endblock %}
