{% pjaxr_extends "onboarding/base.html" "Site.onboarding" %}

{% block title %} Password change{% endblock %}

{% block content %}
  <div id="page" class="page container">
    <form id="onboarding-password-set-form" class="form-mobile form-horizontal" role="form" action="{{ post_url }}" method="POST">
      {% csrf_token %}
      {% include 'forms/mobile_form.html'  with form=form form_title='Set password' field_template_name="bootstrap3" %}
      <div class="text-center  form-actions">
        <button type="submit" class="btn btn-block btn-primary">
          Next <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block pjaxr_namespace %}Site.onboarding.password{% endblock pjaxr_namespace %}
