{% extends "account/base.html" %}

{% block page %}
  <section class="hero-container">
    <div class="page container ">
      <div class="modal show auth-modal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              {% block content %}

              {% endblock %}
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </section>
{% endblock %}