{% if debug_mode == False %}
<!-- Begin LuckyOrange Embed Code -->
<script type='text/javascript'>
window.__wtw_lucky_site_id = 36172;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://cdn') + '.luckyorange.com/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>
<!-- End LuckyOrange embed code -->
{% endif %}
