<!-- iPad, retina, portrait -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-1536x2008.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation:portrait) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" >

<!-- iPad, retina, landscape -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-1496x2048.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" >

<!-- iPad, portrait -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-768x1004.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image" >

<!-- iPad, landscape -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-748x1024.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image" >

<!-- iPhone 5 -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-640x1096.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" >

<!-- iPhone, retina -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-640x920.png"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" >

<!-- iPhone -->
<link   href="{{ STATIC_URL }}images/startup-images/apple-touch-startup-image-320x460.png"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image" >