<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/touch-icons/touch-icon.png">
<!-- For iPhones & iPod touches on iOS 7, although no such devices exist: -->
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/touch-icons/touch-icon-60x60.png">
<!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/touch-icons/touch-icon-72x72.png">
<!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ STATIC_URL }}images/touch-icons/touch-icon-76x76.png">
<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/touch-icons/touch-icon-114x114.png">
<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ STATIC_URL }}images/touch-icons/touch-icon-120x120.png">
<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/touch-icons/touch-icon-144x144.png">
<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}images/touch-icons/touch-icon-152x152.png">
