{% pjaxr_extends "base_template.html" "Site" %}
{% block title %}Roles - {{ current_tenant }}{% endblock %}

{% block page_title %}<span id='page-title'>Roles</span>{% endblock %}

{% block left_nav_button %}
  <span id="left-nav-btn" class='pull-left'>
  <a class="navbar-brand btn" href="{% url 'client_settings:home' %}"><i class="fa fa-chevron-left"></i></a></span>
{% endblock %}

{% block right_nav_button %}
  <span id="right-nav-btn" class="pull-right">
    <span class="navbar-brand">
      <a class="btn btn-xs btn-primary" href="{% url 'client_settings:roles:create' %}" class="btn btn-sm btn-primary"><span>new role</span></a>
    </span>
  </span>
{% endblock %}

{% block right_sidebar %}
  <div id="sidebar-right" class="sidebar sidebar-right">
    <div class="sidebar-heading clearfix">
      <a href="#" class="no-underline btn btn-lg">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
  </div>
{% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block page %}
  <div id="page" class="container page">
    {% block content %}
      <ol class="breadcrumb custom">
        <li><a href="{% url 'client_settings:home' %}">Settings</a></li>
        <li class="active">Roles</li>
      </ol>

    {% if roles %}
      <div class="page-top-band">
          <div class="col-xs-12 text-center">
            <h6>all roles ({{ roles.count }})</h6>
          </div>
      </div>
      <div class="panel panel-default role-card">
        <div class="panel-body">
          {% for role in roles %}
            {% include 'roles/card.html' with role=role %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% endblock %}
   </div>
{% endblock %}
{% block pjaxr_namespace %}Site.roles.list{% endblock pjaxr_namespace %}
