{% load review_tags %} 

<div class="{% if tile = 1 %}col-xs-12{% else %}col-md-6{% endif %}">
    {% if portfolio_projects %}
      <h5 class="title">{{ project.title|truncatechars:60 }}</h5>
    {% else %}
      <h5 class="title">{{ project.title }}</h5>
    {% endif%}

    <p class="small date">
    {% if project.start_date and project.end_date %}
       <!-- <b>From</b>&nbsp;&nbsp; -->{{ project.start_date }}&nbsp;&nbsp;<b><!-- Till -->&mdash;</b>&nbsp;&nbsp;{{ project.end_date }}
    {% endif %}
    <!-- {{ project.created|date:"M d, Y" }} -->
    </p>

    {% if project.staffing_requests %}
      &mdash;
      {% for staffing in project.staffing_requests.all %}
        <span class="btn btn-default disabled btn-o btn-sm">{{ staffing.role }}</span>&nbsp;&nbsp;
      {% endfor %}
      </p>
    {% else %}
      {% if project.skills %}
        <p>
          {% for skill in project.skills.all %}
            <span class="btn btn-default disabled btn-o btn-sm">{{ skill }}</span>&nbsp;&nbsp;
          {% endfor %}
        </p>
      {% endif %}
    {% endif %}

    {% if project.description %}
      <div class="description">

        {% if project.description|length > 120 and portfolio_projects %}
        <div class="content hideContent">{{ project.description }}</div>
        <div class="show-more text-left">
          <span class="text-muted small">Show more...</span>
        </div>
        {% else %}
          <div class="content showContent">{{ project.description }}</div>
        {% endif %}

      </div>
    {% else %}
      <p class="description">
        <span class="text-muted">No description provided</span>
      </p>
    {% endif %}
    <hr/>
  

  {% with project.owners.all|slice:":3" as clients %}
    {% if clients %}
    <div class="row">
      <div class="col-xs-12">
        <strong class="text-uppecase text-muted small">Worked with</strong>
          {% for client in clients %}
            <a href="{{ client.get_profile_modal_url }}" class="pull-right" data-toggle="modal" data-target="#userModal">  {% include 'partials/avatar_initials.html' with object=client size=35 %}
            </a>&nbsp;&nbsp;
          {% endfor %}        
      </div>
    </div>
    <hr>
    {% endif %}

    {% if user.is_client and not project.staffing_requests %}
    <div class="row">
      <div class="col-xs-12">
        <strong class="text-uppecase text-muted small">Rating</strong>

        <div class="rating pull-right text-right">
          <!-- <span class="stars small">
            <i class="fa fa-star text-primary"></i>
            <i class="fa fa-star text-primary"></i>
            <i class="fa fa-star text-primary"></i>
            <i class="fa fa-star text-primary"></i>
            <i class="fa fa-star text-muted"></i>
          </span>&nbsp; -->
          <a href="{{ score_url }}" class="no-underline">
            <span class="text-muted small">{{ project.reviews.count }} review(s)</span>
          </a><br>
          <!-- <strong>4.7<small class="text-muted">/5</small></strong><br> -->
          <a href="{% get_review_url 'add' project %}" class="no-underline text-center small">write review</a>
        </div>
      </div>
    </div>
    {% endif %}
    <br>
  {% endwith %}

  

  {% if project.locations.all %}
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <strong class="text-uppecase text-muted small">Location</strong>
      <div class="clients-label text-muted lighter pull-right small">
      {% for location in project.locations.all %}
        <span class="">{{ location }}</span>{% if forloop.last %}.{% else %},&nbsp;{%endif%}&nbsp;
      {% endfor %}    
      </div>
    </div>
  </div>
  {% endif %}

</div>
