{% pjaxr_extends "partials/auth_modal.html" "Site" %}
{% load i18n %}
{% load account %}
{% block title %}{% trans "Confirm email address" %}{% endblock %}


{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block content %}
  <div class="auth-form-panel">
    <div class="text-center">
      <h4 class="header-thin">{% trans "Confirm email address" %}</h4>
      <hr/>
      {% user_display email_address.user as user_display %}
      <p>
        {% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}