{% pjaxr_extends "partials/auth_modal.html" "Site" %}
{% load i18n %}
{% block title %} Change Password - {{ current_tenant }} {% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block content %}
<div class="auth-form-panel">
  <div class="text-center">
    <h4 class="header-thin">Password reset successful</h4>
    <hr/>
    <p>{% trans 'Your password is changed.' %}</p>
    <p class="text-center"> You can now <a href="{% url 'account_login' %}">sign in</a> with the new password</p>
  </div>
</div>
{% endblock %}
