{% extends "partials/auth_modal.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block content %}
  <div class="auth-form-panel">
    <div class="text-center">
      <h4 class="header-thin">{% trans "Change password" %}</h4>
      <br>
    </div>
    <form method="POST" action="" class="password_change form-mobile authforms">
      {% csrf_token %}
      <p>Password must be at least 8 characters long and contain at least 1 upper case and 1 lower case alphabet and a digit</p>
      {% include 'forms/auth_form.html' with form=form %}
      <div class="col-xs-12 col-centered text-center">
        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
      </div>
    </form>
  </div>
{% endblock %}
