{% pjaxr_extends "partials/auth_modal.html" "Site" %}
{% load i18n %}
{% block title %}{% trans "Set password" %}{% endblock %}


{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block content %}
  <div class="auth-form-panel">
    <div class="text-center">
      <h4 class="header-thin">{% trans "Set password" %}</h4>
      <br>
    </div>
    <form method="POST" action="" class="password_set" class="form-mobile authforms">
      {% csrf_token %}
      {% include 'forms/auth_form.html' with form=form %}
      <div class="col-xs-12 col-centered text-center">
        <input type="submit" name="action" value="{% trans "Set Password" %}"/>
      </div>
    </form>
  </div>
{% endblock %}