{% pjaxr_extends "partials/auth_modal.html" "Site" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %} Change Password - {{ current_tenant }} {% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block content %}
  <div class="auth-form-panel">
    <div class="text-center">
      <h4 class="header-thin">{% trans "Change password" %}</h4>
      <br>
    </div>
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
      {% if form %}
      <form method="POST" action="" class="password_change form-mobile uniForm authforms">
        {% csrf_token %}
        <p>Password must be at least 8 characters long and contain at least 1 upper case and 1 lower case alphabet and a digit</p>
        {% include 'forms/auth_form.html' with form=form field_template_name="bootstrap3" %}
        <div class="col-xs-12 col-centered text-center">
          <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
        </div>
      </form>
      {% else %}
        <p>
          <i class="fa fa-check-circle"></i> {% trans 'Your password is now changed.' %}
        </p>
      {% endif %}
      <p class="text-center"><br><a href="{% url 'account_login'%}">back to sign in</a></p>
    {% endif %}
</div>
{% endblock %}
