{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block page_title %}<span id="page-title">Sign Up</span>{% endblock %}

{% block burger_menu %}
  <span id="main-menu-btn" class="pull-left"></span>
{% endblock %}

{% block left_nav_button %}
  <span id="left-nav-btn" class="pull-left">
    <a id="back-btn" class="navbar-brand btn" href="{% url 'home' %}"><i class="fa fa-chevron-left"></i></a>
  </span>
{% endblock %}

{% block right_nav_button %}<span id="right-nav-btn" class="pull-right"></span>{% endblock %}

{% block left_sidebar %}
  <div id="left-right" class="sidebar sidebar-left"></div>
{% endblock %}

{% block right_sidebar %}
  <div id="sidebar-right" class="sidebar sidebar-right"></div>
{% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{% trans "Sign up closed" %}</h4> 
  </div>
  <div class="panel-body">
    <br/>
    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
  </div>
</div>
{% endblock %}