{% pjaxr_extends "base_template.html" "Site" %}
{% block title %} Proven Score Weights - {{ current_tenant }}{% endblock %}
{% block page_title %}<span id="page-title">Proven Score Weights</span>{% endblock %}

{% block left_nav_button %}
  <span id="left-nav-btn" class="pull-left">
    {% if previous_page %}
      <a class="navbar-brand btn" href="{{ previous_page }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
      <a class="navbar-brand btn" href="{% url 'client_settings:home' %}" data-target="sidebar-left"><i class="fa fa-chevron-left"></i></a>
    {% endif %}
  </span>
{% endblock %}

{% block right_nav_button %}
  <span id="right-nav-btn" class="pull-right"></span>
{% endblock %}

{% block right_sidebar %}
  <div id="sidebar-right" class="sidebar sidebar-right"></div>
{% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block page %}
  <div id="page" class="container page">
    {% block content %}
    <ol class="breadcrumb custom">
      <li><a href="{% url 'client_settings:home' %}">Settings</a></li>
      <li class="active">Proven Score Weights</li>
    </ol>
    <div id="content">
      <div class="page-top-band">
        <div class="col-xs-12 ">
          <h6>All Factors</h6>
        </div>
      </div>
      <form role="form" action="{% url 'client_settings:weights' %}" method="POST" class="form-mobile">
        {% if form.errors %}
        <div class="alert alert-danger">{{ form.errors.values.0.0 }}</div>
        {% endif %}
        {% csrf_token %}
        <div class="clearfix">
          <ul class="list-group">
            {% for field in form %}
              <li class="list-group-item col-xs-12">
                  <div class="col-xs-11">
                    <h4 class="list-group-item-heading">{{ field.label }}</h4>
                    <p class="list-group-item-text">{{ field.help_text }}</p>
                  </div>
                  <div class="col-xs-1 text-right">
                    {{ field }}
                  </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <br/>
        <div class="row text-center">
          <button class="btn btn-primary" type="submit">
            save
          </button>
        </div>
      </form>
    </div>
    {% endblock %}
  </div>
{% endblock %}
