<form id="requestInfoForm" action="{% url 'projects:invite_users' %}" method="POST" force-validate data-parsley-validate data-ajax-form="true">
  <div class="modal-header text-center">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h4>Request info</h4>
      </div>
      <div class="col-xs-1">
        <h4>
        <a href="#" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times text-muted"></i></a>
      </h4>
      </div>
    </div>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        {% include 'projects/partials/invite_to_project_form.html' %}
      </div>
    </div>
  </div>

  {% if success %}
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  {% else %}
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Request</button>
    </div>
  {% endif %}
</form>
