{% pjaxr_extends "base_template.html" "Site" %}
{% load crispy_forms_tags %}
{% block title %}Request info - {{ current_tenant }}{% endblock %}

{% block page_title %}<span id="page-title">Request info</span>{% endblock %}

{% block left_nav_button %}
  <span id="left-nav-btn" class="pull-left">
    {% if previous_page %}
      <a class="navbar-brand btn" href="{{ previous_page }}"><i class="fa fa-chevron-left"></i></a>
    {% elif user_invite_form.user.id %}
      <a class="navbar-brand btn" href="{% url 'users:profile' user_invite_form.user.username %}"><i class="fa fa-chevron-left"></i></a>
    {% else%}
      <a class="navbar-brand btn" href="{% url 'users:list' %}"><i class="fa fa-chevron-left"></i></a>
    {% endif %}
  </span>
{% endblock %}

{% block right_nav_button %}
  <span id="right-nav-btn" class="pull-right">
    <a class="navbar-brand btn pull-right" href="#"></a>
  </span>
{% endblock %}

{% block right_sidebar %}
  <div id="sidebar-right" class="sidebar sidebar-right"></div>
{% endblock %}

{% block notifications %}
  {% include 'partials/notifications.html' %}
{% endblock %}

{% block page %}
  <div id="page" class="container page">
    {% block content %}
    <form id="invite-to-project-form" class="form-mobile form-horizontal" role="form" action="{% if user_invite_form.user.id %}{% url 'projects:invite_users' user_invite_form.user.id %}{% else %}{% url 'projects:invite_users' %}{% endif %}" method="POST" force-validate data-parsley-validate data-ajax-form="true">
        {% csrf_token %}
        <div class="page-top-band">
          <div class="col-xs-12">
            <h6 class="list-count">Request info{% if user_invite_form.user %} <strong>{{ user_invite_form.user.get_name_display }}</strong> {% endif %}</h6>
          </div>
        </div>
        <form id="requestInfoForm" action="{% url 'projects:invite_users' %}">
          {% include 'forms/mobile_form.html' with form=user_invite_form %}
          <div class="text-center col-xs-12">
            <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Request</button>
          </div>
        </form>
     </form>
    {% endblock %}
  </div>
{% endblock %}
{% block pjaxr_namespace %}Site.projects.create{% endblock pjaxr_namespace %}
