/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #505050;
}

/* Let's make sure all tables have defaults */
table td {
  vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: #fff;
}

.body-wrap {
  background-color: #fff;
  width: 100%;
}

.container {
  display: block !important;
  max-width: 600px !important;
  /*margin: 0 auto !important;*/
  /* makes it centered */
  clear: both !important;
  width: 100%;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 15px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #fff;
  /*border: 1px solid #e9e9e9;*/
  /*border-radius: 4px;*/
}

.card-primay {
  border-left: 3px solid #FD6107;
}

.content-wrap {
  padding: 15px;
}

.content-block {
  padding: 0 0 15px;
}

.header {
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  clear: both;
  color: #999;
  padding: 15px;
}
.footer a {
  color: #999;
}
.footer p, .footer a, .footer unsubscribe, .footer td {
  font-size: 12px;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  margin: 40px 0 0;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

p, ul, ol {
  margin-bottom: 10px;
  font-weight: normal;
}
p li, ul li, ol li {
  margin-left: 5px;
  list-style-position: inside;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  color: #FD6107;
  /*text-decoration: underline;*/
}


.btn {
  text-decoration: none;
  line-height: 2;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
  font-weight: bold;
}
.btn-last {
  margin-right: 0px
}

.btn-default {
  color: #333;
  background-color: #f1f1f1;
  border-color:#f1f1f1;
  border-width: 4px 15px;
  border-style: solid;
}

.btn-primary {
  color: #FFF;
  background-color: #FD6107;
  border: solid #FD6107;
  border-width: 4px 15px;
  border-style: solid;
}

.btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border: solid #5CB85C;
  border-width: 4px 15px;
  border-style: solid;
}

.btn-danger {
  color: #FFF;
  background-color: #D9534F;
  border: solid #D9534F;
  border-width: 4px 15px;
  border-style: solid;
}

.btn-warning {
  color: #FFF;
  background-color: #F0AD4E;
  border: solid #F0AD4E;
  border-width: 4px 15px;
  border-style: solid;
}

.btn-info {
  color: #FFF;
  background-color: #5BC0DE;
  border: solid #5BC0DE;
  border-width: 4px 15px;
  border-style: solid;
}

.btn-o {
  background: transparent;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.aligncenter, .text-center {
  text-align: center;
}

.alignright, .text-right {
  text-align: right;
}

.alignleft, .text-left {
  text-align: left;
}

.clear, .clearfix {
  clear: both;
}

/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */
.alert {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 15px;
  text-align: center;
  border-radius: 3px 3px 0 0;
}
.alert a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.alert.alert-warning {
  background: #ff9f00;
}
.alert.alert-bad {
  background: #d0021b;
}
.alert.alert-good {
  background: #68b90f;
}

/* -------------------------------------
    INVOICE
    Styles for the billing table
------------------------------------- */
.invoice {
  margin: 10px auto;
  text-align: left;
  width: 95%;
}
.invoice td {
  padding: 5px 0;
}
.invoice .invoice-items {
  width: 100%;
}
.invoice .invoice-items td {
  border-top: #eee 1px solid;
}
.invoice .invoice-items .total td {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  font-weight: 700;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
  body, .container {
    font-size: 17px !important;
  }
  h1, h2, h3, h4 {
    font-weight: 600 !important;
    margin: 15px 0 5px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  .container {
    width: 100% !important;
  }

  .content, .content-wrap {
    padding: 10px !important;
  }

  .invoice {
    width: 100% !important;
  }
}

/* Custom styles */
#logo {
  display: inline-block;
  height: 12px;
  line-height: 1em;
  font-size: 16px;
  color: #343434;
  letter-spacing: 0.06em;
  font-weight: bold;
  text-decoration: none;
}
#logo::first-letter{
  color: #FD6107;
}

.logo-warp {
  padding:5px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E6E8E6;
}

.text-white {color: #fff; }
.text-muted { color: #999; }
.text-dark { color: #505050; }
.text-primary { color: #FD6107; }
.text-success { color: #239a56; }
.text-warning { color: #d7b015; }
.text-danger { color: #d9534f; }
.text-info {color: #5bc0de; }

.bg-primary {background-color: #FEF0E8; }
.bg-secondary {background-color: #F0F0F0; }
.bg-success {background-color: #DFF0D8; }
.bg-info {background-color: #D9EDF7; }
.bg-danger {background-color: #F2DEDE; }
.bg-warning {background-color: #FCF8E3; }
.bg-dark { background-color: #343434; }

.h1 {
  font-size: 32px;
  font-weight: 500;
}

.h2 {
  font-size: 24px;
  font-weight: 500;
}

.h3 {
  font-size: 18px;
  font-weight: 500;
}

.h4 {
  font-size: 16px;
  font-weight: 600;
}

.h5 {
  font-size: 14px;
  font-weight: 600;
}

.h6 {
  font-size: 12px;
  font-weight: 600;
}

.no-underline {
  text-decoration: none;
}

.nopadding {
  padding: 0px;
}

.small, small { font-size: 85%; }

/* cards */
.card-primary {
  border-left: 2px solid #FD6107;
}

.card-secondary {
  border-left: 2px solid #555;
}

.card-success {
  border-left: 2px solid #239a56;
}

.card-info {
  border-left: 2px solid #5bc0de;
}

.card-warning {
  border-left: 2px solid #d7b015;
}

.card-danger {
  border-left: 2px solid #d9534f;
}
/**/

hr {
  color:#e6e8e6;
  background-color:#e6e8e6;
  min-height:1px;
  border:0;
  margin:35px 0;
}

hr.mid {
  margin:15px 0;
}

hr.thin {
  margin:5px 0;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.rounded {
  border-radius: 4px;
}

.flat {
  border-radius: 0px;
}

.block {
  display: block;
}